In [20]:
import pandas as pd
import numpy as np

In [21]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]
#объединяем два массива в DataFrame
data_spb = pd.DataFrame({'petersburg': [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]})
data_magadan = pd.DataFrame({'magadan': [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]})
data = pd.concat([data_spb, data_magadan], axis=1)
display(data)

   petersburg  magadan
0      0.0974   0.1033
1      0.1352   0.0915
2      0.0817   0.0781
3      0.1016   0.0685
4      0.0968   0.0677
5      0.1064   0.0697
6      0.1050   0.0764
7         NaN   0.0689

In [22]:
data.isnull().mean()

petersburg    0.125
magadan       0.000
dtype: float64

### В получившемся DataFrame У нас есть пропуск. Мы можем либо удалить строку с пропуском либо этот пропуск заполнить. Хоть у нас и совсем немного данных, заполним пропуск медианой, наименее чувствительной к выбросам

In [23]:
data['petersburg'] = data['petersburg'].fillna(data['petersburg'].median())
data

   petersburg  magadan
0      0.0974   0.1033
1      0.1352   0.0915
2      0.0817   0.0781
3      0.1016   0.0685
4      0.0968   0.0677
5      0.1064   0.0697
6      0.1050   0.0764
7      0.1016   0.0689

### Проверка данных на нормальность

In [24]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (отвергаем H0)'

In [25]:
#установим уровень значимости
alpha = 0.05

In [26]:
#в связи с небольшой выборкой данных применим тест Шапиро-Уилка
from scipy.stats import shapiro
_, p = shapiro(data)
print('p=%.3f' % p)

if p > alpha:
    print(H0)
else:
    print(Ha)

p=0.101
Данные распределены нормально

#### Зависимая переменная является количественной и группы происходят из разных совокупностей, поэтому будем использовать независимый Т-тест

In [31]:
from scipy.stats import ttest_ind
H0 = 'Нет значимой разницы между размерами мидий разных городов-производителей.'
Ha = 'Есть значимая разница между размерами мидий разных городов-производителей.'

def t_test(df):
    print('\n' + "*** Результаты независимого Т-теста ***")
    test_results = ttest_ind(data['petersburg'], data['magadan'], equal_var=True)
    p = round(test_results[1],2)
    
    if p > alpha:
        print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
    else:
        print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")    
        
      
t_test(data)

*** Результаты независимого Т-теста ***
0.0 <= 0.05. Мы отвергаем нулевую гипотезу. Есть значимая разница между размерами мидий разных городов-производителей.

# Вывод: В зависимости от города-производителя имеется существенная разница между размерами мидий.